html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Default Styles 
--------------------------------------------------------------------*/

body {

    font-family: 'Droid Sans', sans-serif;;
}
.colorfondo{
    background: rgba(226,226,226,1);
}

.clearfix {
    clear: both;
}

.wrap {
    width: 950px;
    margin: -1em auto;
}

nav {
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 6px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    padding: 0 10px;
    position: relative;
}

.menu li {
    float: left;
    position: relative;
    z-index: 100;
}

.menu li a {
    color: #444;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 6px 15px;
    margin: 8px 4px;
    vertical-align: middle;
    text-decoration: none;
}

.menu li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

/* Dropdown styles */

.menu ul {
    position: absolute;
    left: -999px;
    list-style: none;
    opacity: 1;
    transition: opacity 1s ease;

}

.menu ul li {
    float: none;
}

.menu ul a {
    white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
    background: rgba(255,255,255,0.9);
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.8);
    left: 5px;
    opacity: 1.5;
}

/* Persistant Hover State */
.menu li:hover a {
    background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
    background-image: linear-gradient(#ccc, #ededed);
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.menu li:hover ul a {
    background: none;
    border-radius: 0;
    box-shadow: none;
}

.menu li:hover ul li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 12px;
    box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
}

#WindowLoad
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
    -moz-opacity:65;
    opacity:0.65;
    background:#999;
}

.centrado {
    background-color: #AAA;
    color: #000;

    height: 500px;             /* height = H1 */
    width: 600px;							 /* width  = W1 */

    position: absolute;        /* we want it to be absolutely centered */
    left: 50%;                 /* with these two lines i set the begining of the div in the center of screen */
    top: 50%;
    /* but I have to "correct" it because I do not want the *BEGINING* to be centered. But the div itself. */
    margin-left: -300px;      /* correct1-> set to left W1/2 so that the middle point of the div is centered horizontally */
    margin-top: -250px;       /* correct2-> set to top H1/2 so that the midddle point of the div is centered vertically */

}

.disabled{
    pointer-events:none;
    opacity:0.4;
}


.oculto{
    display:none;
}

.centrado{
    text-align: center;
}

.otro{
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#1B6487, #62B0D8  );
    background: -moz-linear-gradient(#1B6487, #62B0D8  );
    background: -o-linear-gradient(#1B6487, #62B0D8  );
}

#encabezadoForm{
    background: #5E6893;
}

.naranja{
    background: #1A66B6;
}

.boton{
    width:30px;
    height:30px;
    background-color:#8A0808;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    float:right;
}
.boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
}
.boton a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
    text-align: center;
}

.padre {
    padding: 0 1rem;
    margin: 1rem;
}

.hijo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.colorpagina{
    background-color: #FEFDFC;
}

.ancho{
    width: 95%
}
.oculto{
    display:none
}

.cambiarColor{
    text-decoration: underline;
    color:#078A1D;
}

.cambiarColor:hover
{
    text-decoration: underline;
    color:#47087E;
}

td {
    background-color: #00d8fb0f;
    padding: 5px;
}
table { 
    border-spacing: 5px;
    border-collapse: separate;
}

.estilobtn{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #000;
    background: #7F8C8D;
    padding: 3px 15px;
    white-space: nowrap;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 100px;
    margin: 2px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input:disabled {
    color: #D9D9D9;
}


.gris{
    background: #D6D9D1;
}

.gris:hover{
    background: #BABDB4;
}

.gris-claro{
    background: #F9F6F6;
}

.verde{
    background: #69BF18;
}

.verde:hover{
    background: #549E0E;
}

.azul{
    background: #0EDAE7;
}
.azul:hover{
    background: #0DBBC6;
}

.mayuscula{
    text-transform:uppercase;
}

.div-azul{
    color: #4278B9;
}

.div-rojo{
    color: #EA4623;
}

.fondo-azul{
    background: #1A66B6;
    width: 100%; 
    height: 15%;
    color:#ffffff;
    display:inline-block;
    -webkit-border-radius: 3px 5px 1px 4px; /* recuerda la primera frase */
    -moz-border-radius: 4px; /* si quieres todas las esquinas iguales */
    border-radius: 3px;
}

.div-container{
    width: 100%; 
}

.div-centrado{
    width:70%;
    margin:0 auto;
}

.color-letra{
    color:#ffffff;
}
.medida{
    width: 30%; 
    height: 50%;
    text-align:center;
    margin-left: 35%;
    margin-right: 35%;
}

.frmBuscaRemesaStyle{
    width: 60%; 
    height: 50%;
    text-align:center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25%;
}


.medidaDatos{
    width: 40%; 
    height: 15%;
    display:inline-block;
    margin-left: 5%;
}

.container2{
    width: 30%;
    margin-left: 70%;
}
.div-btn-left{
    text-align:right;
    float: left;
}
.div-btn-right{
    text-align:left;
    float: right;
}
.div-btn{
    text-align:center;
    display:inline-block;
}

.medida-datos-color{
    background-color: #F0F8FF;
}
.div-left{
    width: 48%;
    float:left;
}
.div-right{
    width: 48%;
    float:right;
}
.letra-negrita{
    font-weight:bold;
}

.contenedor {
    width: 100%;
    height: 50%;
    text-align: center;
}

.contenedor2 {
    width: 100%;
}

.secciones {
    width: 18%;
    height: 50px;
    display: inline-block;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    display:inline-block;
    color: #000;
    background: #D6D9D1;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 5px;
    margin: 2px 5px;
}

.datos-remitente{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.datos-beneficiario{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.frm-envios{
    width: 84%;
    margin-left: 8%;
    margin-right:8%;
}
.frm-envios2{
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
}
.secciones2 {
    width: 18%;
    height: 50px;
    display: inline-block;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    display:inline-block;
    color: #000;
    background: #D6D9D1;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 5px;
    margin: 2px 5px;
}
.size_font2{
    font-size: 14px;
}

.border-div{
    border: solid 1px #B5B8BA;
}

.div-medida{
    width: 50%;
}

.huella {
    background-color: #ffffff;
    width: 25%;
    text-align: center;
    padding: 5%;
    margin-left: 35%;
}

.text-right{
    text-align: right;
}

.center-btn{
    margin-left: 65%;
    width: 27%;
    display: flex;
    justify-content: center;
}

.requerido{
    color: red;
}

.redondeado {
    border-radius: 10px;
}

.border-caja-texto{
    border-radius: 5px;
    border: 1px solid #FC152A;
}

.div-imagen-imprimir{
    width: 25%;
    height: 25%;
    margin-left:40%;
    margin-right: 40%;
}

.modal-cancela{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25%;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 3px 3px 3px 3px; padding: 0.8em; font-size: 1em; height: 1px; }

#cancelaRemesaDiv{
    margin-left: 8%;
    margin-right: 8%;
}



/* ESTILO DEL INDEX 2*/
body {margin: 0;}
#burbuja{
    background-color: rgb(0, 191, 255); display: inline; position: absolute; float: none;
}
#burbuja2{
    background-color: red; display: inline; position: absolute; margin-top: 5%;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}


ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 400px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .dropdown1:hover .dropdown-content1 {  
        position: static;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.dropdown-content1 li {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown1:hover .dropdown-content1 li {
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.principal_menu_dos{
    top: 0;  
    width: 100%; 
    background-color: #F5F5F5;
}

.img_menu_dos{
    width: 15%; 
    float:left; 
    margin-left: 1%;
}

.user_menu_dos{
    width: 12%; 
    float:right;
    margin-right: 1%;
    margin-top: -3%;
}

.user_span{
    margin-top:40%;
}

.opciones_menu_dos{
    width: 98%;
    float:left; 
    margin-left: 1%; 
    margin-right: 1%;
}

/*FIN DE LOS ESTILOS DEL MENU 2*/

.btn_login{
    width: 80%;
    margin-left: 10%; 
    margin-right: 10%;
}

.txt_login{
    width: 85%;
    margin-left: 7%; 
    margin-right: 8%;
}

.titulo_login{
    width: 100%; 
    height: 50px;
    text-align: center; 
    color: white;
    font-size: 22px; 
    background-color: #4CAF50; 
    border-top-left-radius: 400px 200px;
    border-top-right-radius: 50px;
}

.content_login{
    border-radius: 5px;
    border-top-right-radius: 50px;
    position: absolute;
    width: 25%; 
    text-align: left;
    background: rgba(0,0,0,0.3);
    top: 0; 
    left: 0;
    right: 0; 
    margin: 0 auto;
    margin-top: 6%;
}

.body_login{
    background-color: rgba(0,0,0,0.5)
}


@media screen and (max-width: 400px){
    .content_login{
        width: 90%; 
    }
}

/* Scroll de la tablas*/
.scroll-table{
    overflow:scroll;
    height:200px;
    width:100%;
}

.scroll-table table {
    width:100%;
    background-color:lightgray;
}

.div-comision{
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
}

.div-comision2{
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
}
.tittle-comision{
    margin-left: 15%;
    margin-right: 15%;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:13px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong {  color: #3399FF; }